/* General footer styles */
footer {
  background-color: #2980b9;
  color: #000000;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  position: fixed;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Social media links styles */
.social-media-links {
  margin-bottom: 20px;
}

.social-media-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-media-links ul li {
  margin: 0 10px;
}

.social-media-links ul li a {
  color: #000000;
  font-size: 24px;
  transition: transform 0.2s ease-in, color 0.2s ease-in;
}

.social-media-links ul li a i {
  color: #000000;
  transition: color 0.2s ease-in;
}

/* Hover effects for social media links */
.social-media-links ul li a:hover,
.social-media-links ul li a:hover i {
  transform: translateY(-4px);
  color: #ffffff;
}

.social-media-links a:hover .glow {
  filter: drop-shadow(0 0 10px #1DA1F2);
}

/* Row styles */
.row ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.row ul li {
  margin: 0 10px;
}

.row ul li a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.2s ease-in, color 0.2s ease-in;
}

/* Hover effects for row links */
.row ul li a:hover {
  cursor: pointer;
  transform: translateY(-4px);
  color: #ffffff;
}

/* Responsive styles */
@media screen and (max-width: 700px) {
  .social-media-links ul li {
    margin: 0 5px;
  }

  .row ul li {
    margin: 0 5px;
  }
}
