<footer>
  
    <div class="social-media-links">
      <ul>
        <li>
          <a href="https://github.com/Noxious17">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ansh-jyotishi-772251215/">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.hackerrank.com/profile/ansh68807">
            <i class="fab fa-hackerrank"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/_noxious_17/?next=%2F">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    
  <div class="row">
<ul>
  <li><a (click)="onHome()">Home</a></li>
  <li><a (click)="onSkills()">Skills</a></li>
  <li><a (click)="onAbout()">About</a></li>
  <li><a (click)="onContact()">Contact</a></li>
</ul>
</div>
</footer>

