@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

footer {
  background-color: #2980b9;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  position: fixed;
}

div.social-media-links {
  overflow: hidden;
  padding-bottom: 4px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 0;
  padding: 0;
}
li img {
  display: inline-block;
  width: 50px; /* Adjust the size of the icons */
  height: 40px; /* Adjust the size of the icons */
}

a {
  border-bottom: 0px solid rgba(0,0,0,0.95);
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0);
  display: inline-block;
  height: 30px;
  padding: 20px;
  position: relative;
  transition: .2s ease-in;
  width: 30px;
}

a:hover {
  transform: translateY(-4px);
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout( 75), 0 83px 4px 0px fadeout( 5);
}

a:hover svg.glow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  filter: blur(2px);
}

svg {
  left: 20px;
  position: absolute;
  top: 20px;
  height: 30px;
  width: 30px;
}

svg.glow path, svg.glow circle {
  fill: rgba(0,0,0,0);
}

svg path, svg circle {
  transition: .2s ease-in;
}
.glow {
  filter: drop-shadow(0 0 5px #1DA1F2);
  transition: filter 0.3s ease;
}

.social-media-links a:hover .glow {
  filter: drop-shadow(0 0 10px #1DA1F2);
}

