<app-navbar></app-navbar>

<section class="more-about">
  <br>
  <br>
  <br>
  <br>
  <h2>More About Me</h2>

    <p>
      I am a passionate web developer with expertise in various front-end and back-end technologies. I enjoy creating dynamic and responsive web applications that provide excellent user experiences. My journey in web development started X years ago, and I have been continuously learning and improving my skills ever since.
    </p>
    <h3>Education</h3>
    <p>
      I hold a Bachelor's degree in Computer Science from Truba College oF Science And Technology, where I graduated in 2023. During my time at university, I focused on software development, web technologies, and data structures. My coursework included:
    </p>
        <p>Web Development<br>
        Data Structures and Algorithms<br>
        Database Management Systems<br>
        Software Engineering</p>
      
      <h3>Professional Experience</h3>
      <p>
        I have worked as a web developer at Leopardrund Innvocation And Technology Bhopal [M,P] for Three Months, where I:</p>
        
          <p>Developed and maintained multiple web applications using HTML, CSS, JavaScript, and Angular.<br>
          Collaborated with cross-functional teams to design and implement new features.<br>
          Optimized web applications for maximum speed and scalability.<br>
          Conducted code reviews and provided mentorship to junior developers.</p>
        
        <h3>Hobbies and Interests</h3>
        <p>
          Outside of work, I enjoy:</p>
          <p>Exploring new web technologies and frameworks.<br>
          Travels makes me best.<br>
          Reading tech blogs and staying updated with industry trends.<br>
          Playing video games and outdoor sports.</p>
          
        
</section>
      <section class="skills" id="skills">
        <h2 class="skill-header">My Top Skills</h2>
  
        <div class="skills-wrapper">
          <div class="first-set animate__animated animate__pulse">
            <img
              src="./assets/images/html.png"
              alt=""
              loading="lazy"
              class="icon icon-card"
            />
            <img
              src="./assets/images/csss.png"
              alt=""
              loading="lazy"
              class="icon icon-card"
            />
            <img
              src="./assets/images/angular.png"
              alt=""
              loading="lazy"
              class="icon icon-card"
            />
          </div>
  
          <div class="second-set animate__animated animate__pulse">
            <img
              src="./assets/images/js.png"
              alt=""
              loading="lazy"
              class="icon icon-card"
            />
            <img
              src="./assets/images/python.png"
              alt=""
              loading="lazy"
              class="icon icon-card"
            />
            
          </div>
        </div>
      </section>

      <section class="projects" id="projects">
      <h2 class="projects-title">Some of my Recent Projects <br>
      <br></h2>
      <div class="projects-container">
        <div class="project-container project-card">
          <img
            src="./assets/images/port.jpeg"
            alt="Image"
            loading="lazy"
            class="project-pic"
          />
          <h3 class="project-title">Portfolio Website</h3>
          <p class="project-details">
           My Portfolio website Just to show My knowledgeand skils.
          </p>
          
        </div>
       
        </div>
     
    </section>
 
  <app-footer></app-footer>