<app-navbar></app-navbar>

      <section class="more-about">
        
        <h2>More About Me</h2>
          <p>
            I am a passionate web developer with expertise in various front-end and back-end technologies. I enjoy creating dynamic and responsive web applications that provide excellent user experiences. My journey in web development started 2 years ago, and I have been continuously learning and improving my skills ever since.
          </p>
          <h3>Education</h3>
          <p>
            I hold a Bachelor's degree in Computer Science from Truba College oF Science And Technology,<br>
             where I graduated in 2023. During my time at university, I focused on software development, web technologies, and data structures.<br>
              My coursework included:
          </p>
              <p>Web Development<br>
              Data Structures and Algorithms<br>
              Database Management Systems<br>
              Software Engineering</p>
            
            <h3>Professional Experience</h3>
            <h3>Front-End Developer</h3>
            <p>
              LEOPARDRUNS INNVOCATION AND TECHNOLOGIES , BHOPAL [M,P]<br>
      JUNE 2024 - SEPT 23
            <p>
              Developed and maintained web applications using HTML, CSS, JavaScript, and front-end frameworks such as Angular js.<br>
      Collaborated with designers and back-end developers to create seamless user interfaces and integrate APIs.<br>
      Implemented responsive web design to ensure compatibility across various devices and browsers.<br>
      Optimized website performance, improving loading speeds and overall user experience.<br>
      Participated in code reviews and team meetings, contributing to project planning and agile development processes.<br>
      Troubleshot and resolved bugs and issues to enhance the functionality and user experience of web applications.</p>
              
              <h3>Hobbies and Interests</h3>
              <p>
                Outside of work, I enjoy:</p>
                <p>Exploring new web technologies and frameworks.<br>
                Travels makes me best.<br>
                Reading tech blogs and staying updated with industry trends.<br>
                Playing video games and outdoor sports.</p>
                
                <h3>Projects</h3>
      
                <p>Barbercity - in the interval of internship.
                  <br>
                  Portfolio -web site
                </p>        
      </section>
            <section class="skills" id="skills">
              <h2 class="skill-header">My Top Skills</h2>
        
              <div class="skills-wrapper">
                <div class="first-set animate__animated animate__pulse">
                  <img 
                    src="./assets/images/html.png"
                    alt=""
                    loading="lazy"
                    class="icon icon-card"
                  />
                  <img
                    src="./assets/images/csss.png"
                    alt=""
                    loading="lazy"
                    class="icon icon-card"
                  />
                  <img
                    src="./assets/images/angular.png"
                    alt=""
                    loading="lazy"
                    class="icon icon-card"
                  />
                </div>
        
                <div class="second-set animate__animated animate__pulse">
                  <img
                    src="./assets/images/js.png"
                    alt=""
                    loading="lazy"
                    class="icon icon-card"
                  />
                  <img
                    src="./assets/images/python.png"
                    alt=""
                    loading="lazy"
                    class="icon icon-card"
                  />
                  
                </div>
              </div>
            </section>
      
            <section class="projects" id="projects">
            <h2 class="projects-title">Some of my Recent Projects <br>
            <br></h2>
            <div class="projects-container">
              <div class="project-container project-card">
                <img
                  src="./assets/images/port.jpeg"
                  alt="Image"
                  loading="lazy"
                  class="project-pic"
                />
                <h3 class="project-title">Portfolio Website</h3>
                <p class="project-details">
                 My Portfolio website Just to show My knowledgeand skils.
                </p>
                
              </div>
    
    
  </div>




 <app-footer></app-footer>