<app-navbar></app-navbar>

<p>#2024 Developer</p>

<body>

   <br>
   <br>
   <br>

    <!-- Main Content -->
    <h3 class="title">Contact Us</h3>
    <div class="contact_wrapper">
        <div class="contact_info">
            <ul class="icons_wrapp">
                <li><span class="icon">📞</span><span class="text">+919893436938</span></li>
                <li><span class="icon">📧</span><span class="text">ansh68807gmail.com</span></li>
                <li><span class="icon">📍</span><span class="text">V-91, Krishna Arcade , baghsebaniya, BHOPAL [M,P] 462620</span></li>
            </ul>
        </div>
        <div class="contact_msg">
            <form>
                <div class="form_fild">
                    <div class="input_group w_50">
                        <input type="text" class="input" required>
                        <label class="placeholder">First Name</label>
                    </div>
                    <div class="input_group w_50">
                        <input type="text" class="input" required>
                        <label class="placeholder">Last Name</label>
                    </div>
                    <div class="input_group w_100">
                        <input type="email" class="input" required>
                        <label class="placeholder">Email</label>
                    </div>
                    <div class="input_group w_100">
                        <textarea class="input input_textarea" required></textarea>
                        <label class="placeholder">Message</label>
                    </div>
                </div>
                <button type="submit" class="btn">Send Message</button>
            </form>
        </div>
    </div>

   

</body>

<p>#2024 Developer</p>

<app-footer></app-footer> 