<app-navbar></app-navbar>

<body>
   
    <main>
      <div class="intro">
        <h1>A Web Developer</h1>
        <p>I am a web developer and I love to create websites.</p>
        <button (click)="onAbout()">Learn More</button>
      </div>
      <div class="achievements">
        <div class="work">
          <i class="fas fa-atom"></i>
          <p class="work-heading">Projects</p>
          <p class="work-text">I have successfully completed a variety of projects, each showcasing my expertise and dedication to web development. I am continually seeking new opportunities to apply my skills and contribute to innovative projects..</p>
        </div>
        <div class="work">
          <i class="fas fa-skiing"></i>
          <p class="work-heading">Skills</p>
          <p class="work-text">I possess a diverse skill set that enables me to excel in various aspects of web development. My proficiency in programming languages and frameworks allows me to create robust and dynamic web applications. I am committed to continuous learning and skill enhancement.</p>
        </div>
        <div class="work">
          <i class="fas fa-ethernet"></i>
          <p class="work-heading">Network</p>
          <p class="work-text">I have developed strong networking skills that complement my technical abilities. Building and maintaining professional relationships is crucial in the tech industry, and I actively seek to expand my network and share knowledge with others.</p>
        </div>
      </div>
      <div class="about-me">
        <div class="about-me-text">
          <h2>About Me</h2>
          <h3>Hi, I'm Ansh Jyotishi</h3>
            <p>I am a passionate and creative web developer based in Bhopal. With 3 months of experience in the field, I specialize in building responsive and user-friendly websites using modern technologies such as HTML5, CSS3, JavaScript, and Angular.</p>
            <p>My journey as a web developer began Two years ago when I discovered my love for coding and creating beautiful digital experiences. Since then, I have been dedicated to honing my skills and staying updated with the latest trends and best practices in web development.</p>
            <p>Throughout my career, I have worked on a variety of projects, ranging from personal portfolios to e-commerce websites and web applications. I am always excited to take on new challenges and collaborate with clients to bring their ideas to life.</p>
            <p>When I'm not coding, you can find me exploring new technologies, attending tech meetups, or enjoying a cup of coffee while brainstorming new project ideas. I believe that continuous learning is key to success in this ever-evolving field, and I am committed to pushing the boundaries of what's possible in web development.</p>
            <p>Feel free to explore my portfolio to see some of my recent work, and don't hesitate to reach out if you're interested in working together or have any questions.</p>

            
        </div>
        <img src="./assets/images/profile.jpg" alt="me">
      </div>

    
   
        <div>
        <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
            <p style="font-size: 30px; font-family: 'Times New Roman', Times, serif; font-weight: bolder; color: rgb(5, 3, 3);">My Skills</p>
        </div>
        <div class="card-container">
            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-item-center">
                    <p style="color: rgb(0, 0, 0);">Angular</p>

                </mat-card-header>
                <img mat-card-image src="./assets/images/angular.png" alt="Image">
                <mat-card-content>
                    <p>Helps developers build dynamic, single-page web applications</p>
                </mat-card-content>
            

            </mat-card>


            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-item-center">
                    <p style="color: rgb(0, 0, 0);">JavaScript</p>
                
                </mat-card-header>
                <img mat-card-image src="./assets/images/js.png" alt="Image">
                <mat-card-content>
                    <p>Essential for building dynamic web applications.s</p>
                </mat-card-content>
           

            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-item-center">
                    <p style="color: rgb(12, 13, 21);">Html</p>
                
                </mat-card-header>
                <img mat-card-image src="./assets/images/html.png" alt="Image">
                <mat-card-content>
                    <p>The standard markup language for creating web pages.</p>
                </mat-card-content>
           

            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-item-center">
                    <p style="color: rgb(11, 12, 22);">Css</p>
                
                </mat-card-header>
                <img mat-card-image src="./assets/images/csss.png" alt="Image">
                <mat-card-content>
                    <p>Used to style and design web pages.</p>
                </mat-card-content>
            
            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-item-center">
                    <p style="color: rgb(0, 0, 0);">Python</p>
                
                </mat-card-header>
                <img mat-card-image src="./assets/images/python.png" alt="Image">
                <mat-card-content>
                    <p>A versatile language used for various types of programming.</p>
                </mat-card-content>
            

            </mat-card>
            

            </div>
        </div>
        <br>
            <br>
            <br>
    </main>
    <div class="thought">
        <a>“I do not create. God creates. I assemble, and I steal from everywhere to do it” — George Balanchine</a>

    </div>
    <div class="image-gallery">
        <img src="./assets/images/jj.jpg">
        
        <img src="./assets/images/ll.jpg">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
  

<app-footer></app-footer>