/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

main {
  padding: 6px;
}

/* Intro Section Styling */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro h1 {
  font-size: 36px;
  color: #f7f2f4;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: #001316;
}

.intro p {
  font-size: 18px;
  color: #ffffff;
  text-shadow: #000304;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro button {
  background-color: #25c3df;
  color: #000000;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.intro button:hover {
  background-color: #032b32;
}

/* Achievements Section Styling */
.achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  background-color: #bababa;
}

.work {
  flex: 1;
  margin: 10px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.work i {
  font-size: 36px;
  color: #000000;
  margin-bottom: 20px;
}

.work-heading {
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.work-text {
  font-size: 16px;
  color: #1a1717;
  line-height: 1.6;
}

/* About Me Section Styling */
.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.about-me-text {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  background-color: #c9e3ea;
}

.about-me-text h2 {
  font-size: 30px;
  color: #000000;
  margin-bottom: 20px;
}

.about-me-text h3 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.about-me-text p {
  font-size: 16px;
  color: #000000;
  line-height: 1.6;
}

.about-me img {
  flex: 1;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

/* Skills Section Styling */
.skills-section {
  text-align: center;
  margin-top: 20px;

}

.skills-section p {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}
.thought {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  padding:  60px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: large;
  font-weight: bold;
  background-color: #8d8d8d;
  color: #000000;
}

.card-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 80%; 
  height: auto; 
  margin: 130px; 
  border-radius: 60px; 
  box-shadow: 0 4px 8px rgba(153, 133, 133, 0.1); 
  transition: transform 0.3s ease; 

}

.example-card {
  flex: 1;
  margin: 1px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.example-card:hover {
  transform: translateY(-5px);
}

.mat-card-header {
  justify-content: center;
}

.mat-card-header p {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.mat-card-content {
  text-align: center;
}

.mat-card-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px; 
}

.image-gallery img {
  width: 300px; 
  height: auto; 
  margin: 10px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(153, 133, 133, 0.1); 
  transition: transform 0.3s ease; 
}

.image-gallery img:hover {
  transform: scale(1.1); 
}
/* Responsive Styling */
@media screen and (max-width: 768px) {
  .achievements, .about-me {
    flex-direction: column;
    align-items: center;
  }

  .about-me-text, .about-me img {
    width: 100%;
    max-width: none;
  }

  .example-card {
    flex: 0 0 100%;
  }
}